@{
    ViewData["Title"] = "Notificacion";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body text-center">
                    <h4>Se ha cambiado la contraseña correctamente</h4>
                    <p>Por favor verifique su correo para visualizar su nueva contraseña.</p>
                    <a asp-controller="User" asp-action="Index" class="btn btn-sm btn-primary">Ir Login</a>
                </div>
            </div>
        </div>
    </div>
</div>